
div.single_option{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    border: 4px solid #f1f1f1;
    background: #ddd;
}
div.single_option:active{border-color: #0074a2} 
div.single_option.active, div.single_option[checked="checked"]{
    border: 4px solid #0074a2;   
}
div.single_option label{
    display: block;
    padding: 2px;
    text-align: center;
    background: #ddd;       
}
div.single_option input[type=radio]{
    display: n one;  
}

div.single_option span#particles{
    background-image: url(../img/particles.png);
}



div.single_option span.label_img{
    display: block;
    height: 55px;
    width: 150px;    
}
.beefup{
    overflow: hidden;
    margin-bottom: 2px;
}
.beefup h2.beefup-head, .beefup1 h2.beefup-head, h3#sub{
    background-color: #0074a2;border: 0px solid #0074a2;border-radius: 8px; color: #fff;padding: 5px 15px;margin-bottom: 10px;font-size: 15px;cursor: pointer;width: 880px;
}

.beefup h2.beefup-head:before, .beefup h3#sub:before {
    content: "+";display: inline-block;margin-right: 10px;font-weight: 800px;width: 12px
}
.beefup.open.beefup h2.beefup-head:before, .beefup.open.beefup h3#sub:before{
    content: "-";
}
#pro, .single-option{
    overflow: hidden;
}
h2#p_color{
    background-color: #0D7B9A;color: #eff;padding: 5px 10px;width: 400px;border-radius: 8px;font-size: 13px;
}
.progres_color {
    margin-left: 40px;margin-top: 3px;
}
.more_pre{
    margin-left: 20px;      
}

h3#sub{
    padding: 10px;
    margin-top: 0px;
    width: 870px;
    border: 0px solid #0074a2;
    border-radius: 20px;
    background-color: #06618f;
    color: #dfc179
        
}
div.panel_img p{

}

#h_dis,#dis,#panel_img_dis {
  font-size: 16px;
  color: blue;
  background: #ededb4;
  padding: 6px;
  width: 895px;
}
#h_dis:hover,#dis:hover {
  background: #ededd0;
  padding: 6px;
}
#dis span{
    font-size: 16px;
    color: #f22;
}

#dis{
    font-size: 14px;
}
#panel_img_dis{
    color: #dd1818;
}
#panel_img_dis:hover{
    color: #222;
    background: #F1F1F1;
}
.panel{
    margin-left: 10px;
}
.panel_img1, .panel_img2 {
    width: 468px;
    height: 212px;
    display: block;
    float: left;
    margin-left: 20px;       
}
.panel_img1 {
     background-image: url(../img/pre1.png);     
}
.panel_img2{
    height: 158px;
    width: 260px;
    margin-top: 12px;
    background-image: url(../img/pre2.png);
}