div.single_option{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    border: 4px solid #f1f1f1;
    background: #ddd;
}
div.single_option:active{border-color: #0074a2} 
div.single_option.active, div.single_option[checked="checked"]{
    border: 4px solid #0074a2;   
}
div.single_option label{
    display: block;
    padding: 2px;
    text-align: center;
    background: #ddd;       
}
div.single_option input[type=radio]{
    display: n one;  
}
div.single_option span#barber{
    background-image: url(../img/barbar.png);
}
div.single_option span#bc{
    background-image: url(../img/bc.png);
}
div.single_option span#loading_bar{
    background-image: url(../img/load.png);
}
div.single_option span#mac_osx{
    background-image: url(../img/mac.png);
}
div.single_option span#center_cir{
    background-image: url(../img/center.png);
}
div.single_option span#center_atom{
    background-image: url(../img/c-atom.png);
}
div.single_option span#center_sim{
    background-image: url(../img/c-simple.png);
}
div.single_option span#r_plane{
    background-image: url(../img/ro.png);
}
div.single_option span#d_bounce{
    background-image: url(../img/db.png);
}
div.single_option span#hf_wave{
    background-image: url(../img/wa.png);
}
div.single_option span#wandering_c{
    background-image: url(../img/wn.png);
}
div.single_option span#chasing_dot{
    background-image: url(../img/ch.png);
}
div.single_option span#cube_g{
    background-image: url(../img/cu.png);
}
div.single_option span#center_nu{
    background-image: url(../img/num.png);
}
div.single_option span#center_fla{
    background-image: url(../img/fla.png);
}
div.single_option span#center_mini{
    background-image: url(../img/mini.png);
}
div.single_option span#cube_g{
    background-image: url(../img/cu.png);
}
div.single_option span#cube_g{
    background-image: url(../img/cu.png);
}


div.single_option span.label_img{
    display: block;
    height: 50px;
    width: 150px;    
}
.beefup{
    overflow: hidden;
    margin-bottom: 2px;
}
.beefup h2.beefup-head{
    background-color: #0074a2;border: 0px solid #0074a2;border-radius: 8px; color: #fff;padding: 5px 15px;margin-bottom: 10px;font-size: 15px;cursor: pointer;width: 880px;
}

.beefup h2.beefup-head:before {
    content: "+";display: inline-block;margin-right: 10px;font-weight: 800px;width: 12px
}
.beefup.open.beefup h2.beefup-head:before {
    content: "-";
}
#pro{
    overflow: hidden;
}
h2#p_color{
    background-color: #0D7B9A;color: #eff;padding: 5px 10px;width: 400px;border-radius: 8px;font-size: 13px;
}
.progres_color{
    margin-left: 40px;margin-top: 20px;
}